<div class="container-fluid">
  <div class="mb-4">
    <span class="opacity-50">Education </span>
    <h1>Education</h1>
  </div>
  <div class="d-flex mb-2">
    <div
      class="icon bg-info d-flex justify-content-center align-items-center me-4"
    >
      <i class="fa-solid fa-pen"></i>
    </div>
    <div class="bg-dark opacity-25 text-light position-relative">
      <div class="p-4">
        <h1 class="fs-4">
          Full Stack Developer <span class="fs-6 opacity-50">2017-2018</span>
        </h1>
        <p>
          Tolerably earnestly middleton extremely distrusts she boy now not. Add
          and offered prepare how cordial two promise. Greatly who affixed
          suppose but enquire compact prepare all put. Added forth chief trees
          but rooms think may.
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex mb-2">
    <div
      class="icon bg-warning d-flex justify-content-center align-items-center me-4"
    >
      <i class="fa-solid fa-pen"></i>
    </div>
    <div class="bg-dark opacity-25 text-light position-relative">
      <div class="p-4">
        <h1 class="fs-4">
          System Analyst <span class="fs-6 opacity-50">2017-2018</span>
        </h1>
        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex mb-2">
    <div
      class="icon bg-danger d-flex justify-content-center align-items-center me-4"
    >
      <i class="fa-solid fa-pen"></i>
    </div>
    <div class="bg-dark opacity-25 text-light position-relative">
      <div class="p-4">
        <h1 class="fs-4">
          Front End Developer at Google Company
          <span class="fs-6 opacity-50">2017-2018</span>
        </h1>
        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </div>
  </div>
</div>
