<div class="container">
  <div class="mb-4">
    <span class="opacity-50">Get in Touch
    </span>
    <h1>Contact
    </h1>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="w-25 p-5">
            <i class="fa-solid fa-globe" ></i>
          </div>
          <div class="w-75 d-flex justify-content-center align-items-center">
            <a href="">infoagmail.com</a>
          </div>
        </div>
        <div class="col-md-6 ">
          <input placeholder="name" class="w-100 mb-3 h-50 form-control " type="text">
          <input placeholder="email" class="w-100 h-50 form-control " type="text">
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="w-25 p-5">
            <i class="fa-solid fa-map" ></i>
          </div>
          <div class="w-75 d-flex justify-content-center align-items-center p-4">
            <a href="">198 West 21th Street, Suite 721 New York NY 10016</a>
          </div>
        </div>
        <div class="col-md-6 mt-3 ">
          <input placeholder="subject" class="w-100 h-50 mb-3 form-control " type="text">

        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="w-25 p-5">
            <i class="fa-solid fa-phone" ></i>
          </div>
          <div class="w-75 d-flex justify-content-center align-items-center">
            <a href="">+123 456 7890</a>
          </div>
        </div>
        <div class="col-md-6 ">
         <textarea class="w-100" name=""placeholder="message" id=""></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
