<div class="container">
  <div class="mb-4">
    <span class="opacity-50">read </span>
    <h1>Recent Blog</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class=" overflow-hidden">
        <div class="imag  overflow-hidden">
          <a href=""><img class="w-100" src="../../../assets/blog-1.jpg.webp" alt="" /></a>

        </div>
        <div>
          <span class="opacity-50">April 14, 2018 | Web Design | 4</span>
          <h3>Renovating National Gallery
            </h3>
            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class=" overflow-hidden">
        <div class="imag  overflow-hidden">
          <a href=""><img class="w-100" src="../../../assets/blog-2.jpg.webp" alt="" /></a>

        </div>
        <div>
          <span class="opacity-50">April 14, 2018 | Web Design | 4</span>
          <h3>Renovating National Gallery
            </h3>
            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class=" overflow-hidden">
        <div class="imag  overflow-hidden">
          <a href=""><img class="w-100" src="../../../assets/blog-3.jpg.webp" alt="" /></a>

        </div>
        <div>
          <span class="opacity-50">April 14, 2018 | Web Design | 4</span>
          <h3>Renovating National Gallery
            </h3>
            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
    </div>
  </div>
</div>
